Задание 1:
Каждый клиент может купить любой продукт любое кол-во раз. Предположим нам нужно найти всех клиентов,
которые купили iphone и еще не покупали airpods. Например, мы хотим предложить покупателям iphone
приобрести airpods в дополнение к их покупке.

In [ ]:
!docker run -it -d \
    -e POSTGRES_USER='uchi' \
    -e POSTGRES_PASSWORD='uchi' \
    -e POSTGRES_DB='uchi_ru' \
    -v ~/uchi_pg_volume:/var/lib/postgresql/data \
    -p 5440:5432 \
    --name uchi_ru \
    postgres:13

3c78fcd4f4eee2c79145896439e721fc33aa40e37ebead131f0990190bd82cca

In [ ]:
from sqlalchemy.engine import create_engine
import sqlalchemy

pg = create_engine(f'postgresql://uchi:uchi@localhost:5440/uchi_ru')
conn = pg.connect()

In [ ]:
import pandas as pd
from datetime import datetime
import psycopg2

In [ ]:
qyery = '''
    DROP TABLE IF EXISTS clients;
    CREATE TABLE clients (
        date DATE,
        client VARCHAR(20),
        product VARCHAR(20),
        purchase_sum DECIMAL(10, 4),
        updated TIMESTAMP
    );
'''
sqlText = sqlalchemy.sql.text(qyery)
conn.execute(sqlText)
conn.commit()

In [ ]:
columns = [
    'date',
    'client',
    'product',
    'purchase_sum',
    'updated'
]
clients = [
(datetime.strptime('2019.01.01', '%Y.%m.%d'), 'Вася', 'iphone', 55000, datetime.strptime("2019.01.01 10:00", "%Y.%m.%d %H:%M")),   
(datetime.strptime('2019.01.01', '%Y.%m.%d'), 'Вася', 'airpods', 10000, datetime.strptime("2019.01.01 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.02.02', '%Y.%m.%d'), 'Петя', 'iphone', 55000, datetime.strptime("2019.02.02 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.02.02', '%Y.%m.%d'), 'Петя', 'macbook', 55000, datetime.strptime("2019.02.02 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.03.01', '%Y.%m.%d'), 'Коля', 'airpods', 11000, datetime.strptime("2019.03.01 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.03.11', '%Y.%m.%d'), 'Толя', 'airpods', 12000, datetime.strptime("2019.03.11 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.05.02', '%Y.%m.%d'), 'Яна', 'iphone', 55000, datetime.strptime("2019.05.02 10:00", "%Y.%m.%d %H:%M")),
(datetime.strptime('2019.05.02', '%Y.%m.%d'), 'Яна', 'iphone', 53000, datetime.strptime("2019.05.02 10:00", "%Y.%m.%d %H:%M"))
 ]

In [ ]:
df = pd.DataFrame(data=clients, columns=columns)
df.to_sql(
    con=pg,
    index=False,
    name='clients',
    schema='public',
    if_exists='append')

8

In [ ]:
pd.read_sql('select * from clients', con=pg)

         date client  product  purchase_sum             updated
0  2019-01-01   Вася   iphone       55000.0 2019-01-01 10:00:00
1  2019-01-01   Вася  airpods       10000.0 2019-01-01 10:00:00
2  2019-02-02   Петя   iphone       55000.0 2019-02-02 10:00:00
3  2019-02-02   Петя  macbook       55000.0 2019-02-02 10:00:00
4  2019-03-01   Коля  airpods       11000.0 2019-03-01 10:00:00
5  2019-03-11   Толя  airpods       12000.0 2019-03-11 10:00:00
6  2019-05-02    Яна   iphone       55000.0 2019-05-02 10:00:00
7  2019-05-02    Яна   iphone       53000.0 2019-05-02 10:00:00

In [ ]:
pd.read_sql("""SELECT client   
FROM clients  
WHERE product='iphone'
EXCEPT   
SELECT client   
FROM clients   
WHERE product ='airpods'""", con=pg)

  client
0    Яна
1   Петя